# Automatic generation of doxygen and javadoc files for ET's C and Java code
# on the master branch which will be copied and checked into the gh-pages branch.
name: Documentation generation CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # checkout the master branch
      - uses: actions/checkout@v5

      # generate the C doxygen files
      - name: Doxygen Action C
        uses: mattnotmitt/doxygen-action@v1.3.1
        with:
          working-directory: '.'
          doxyfile-path: 'doc/doxygen/DoxyfileC'

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

        # Setup gradle and build Java
      - name: Setup Gradle (and paths)
        uses: gradle/actions/setup-gradle@v3
      - name: Build with Gradle
        run: |
            mkdir -p doc/javadoc
            ./gradlew build

      # clean up the javadoc files including removing timestamps. OPTIONAL.
      - name: Tidy up the javadocs
        id: tidy
        uses: cicirello/javadoc-cleanup@v1
        with:
          path-to-root: doc/javadoc

      # store the doc files
      - name: Upload Output Directory
        uses: actions/upload-artifact@v4
        with:
          name: doc-files
          path: doc
          retention-days: 1

  copy:

    runs-on: ubuntu-latest
    needs: build

    steps:
      # checkout the gh-pages branch
      - uses: actions/checkout@v2
        with:
          ref: gh-pages

      # download the doc files, most of which are generated above
      - name: Download Output Directory
        uses: actions/download-artifact@v4
        with:
          name: doc-files
          path: doc

      # add, commit and push to gh-pages
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: Carl Timmer
          author_email: timmer@jlab.org
          message: 'Update docs'
          branch: gh-pages
          add: '["doc/doxygen/C/html/*", "doc/javadoc/", "doc/users_guide/ET_Users_Guide.pdf", "doc/htm/", "doc/images"]'
