# PURE java tests, no jni.so used 
name: Java Tests (ET)

on:
  pull_request:
    branches: [ main ]

jobs:
  java_tests:
    name: Run JUnit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

        # Setup gradle and build Java
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build with Gradle
        run: ./gradlew build
          
      - name: Build and run tests (Java only)
        run: |

            export CLASSPATH=$(ls $PWD/build/libs/et-*.jar | tr '\n' ':')
            echo "Running ET local test with shared memory file: /tmp/et_ci_localtest"

            # launch processes with delays, capturing logs
            java src/main/java/org/jlab/coda/et/apps/StartEt.java -d -f /tmp/et_ci_localtest  > et_start.log 2>&1 &
            echo "Waiting for ET to start..."
            sleep 2
            echo "Starting producer in background..."
            java src/test/java/CITestLocalProducer.java > producer.log 2>&1 &
            sleep 2
            echo "Starting consumer in background..."
            java src/test/java/CITestLocalConsumer.java > consumer.log 2>&1 &
            sleep 2
            echo "Slept for 10 seconds. Killing ET system..."
            java src/main/java/org/jlab/coda/et/apps/Killer.java -f /tmp/et_ci_localtest -v


            echo "Logs from ET start, producer, consumer:"
            tail -n 10 et_start.log
            tail -n 10 consumer.log
            tail -n 10 producer.log

            # The ls will error if the file does not exist, in case
            # commands above failed
            ls et_output.txt
            # If last line of et_output.txt is not "ET is great, event 500", fail also
            echo "Final line of text file: "
            tail -n 1 et_output.txt
            tail -n 1 et_output.txt | grep -q "ET is great, event 500" || exit 1

            rm et_output.txt
